body{
    text-align: center;
}

h1{
    font-size: 5rem;
    font-family: 'Courgette', cursive;
    text-decoration:underline;
    color:#cf7500;
}

h2{
    font-size: 2rem;
    font-family: 'Courgette', cursive;
    color:#ffe277;
}

.btn{
outline: none;
font-size: 5rem;
font-family: "Indie Flower", cursive;
margin: 1.5rem 1.5rem 0;
color: #581c0c;
background-color: #ffe277;
display: inline-block;
border: 3px solid #cf7500;
border-radius: 30px;
width: 150px;
height: 150px;
text-align: center;
}

footer{
    margin-top: 30px;
}


.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }